@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    ////////////////////
    // text colors /////
    ////////////////////
    --text-fill: 227, 35%, 25%;
    --text-muted: 225, 20%, 60%;
    --text-cta: 226, 100%, 87%;

    /////////////////////////////
    // background colors /////////
    /////////////////////////////
    --bg-fill: 230, 100%, 99%;
    --bg-toggle: 223, 50%, 87%;
    --bg-discount: 14, 92%, 95%;
    --bg-primary-900: 174, 86%, 45%;
    --bg-primary-700: 174, 77%, 80%;
    --bg-primary-200: 224, 65%, 95%;

    --bg-cta: 227, 35%, 25%;
  }
}

@layer components {
  .center {
    @apply absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2;
  }
  .badge-warning {
    @apply bg-discount text-orange-600 px-3 py-1 rounded-full text-xs font-semibold;
  }
  .btn {
    @apply inline-block tracking-wider font-bold hover:opacity-70 rounded-full px-14 py-4;
  }

  .btn-dark {
    @apply bg-cta text-cta;
  }
}
